body {
    background-color: black;
}

#current-weather {
    border: solid white 1px;
    opacity: 70%;
    height: 350px;
    width: 250px;
    color: black;
    text-align: center;
    background-color: white
}

#forecast-weather {
    border: solid white 1px;
    opacity: 70%;
    height: 350px;
    width: 250px;
    color: white;
    text-align: center;
}