.text {
    font-family: 'Special Elite', cursive;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*color: white;*/
}
.writing{
    font-family: 'Special Elite', cursive;
}
.uk-inline{
    font-family: 'Special Elite', cursive;
}

#title{
    font-family: 'Special Elite', cursive;
}
#enterCity{
    padding: 12px;
    font-size: 13px;
}
/* #wine-image{
    background-image: url('winestain.jpg');
    background-position: center;

} */

.uk-card-body{
    font-family: 'Special Elite', cursive;
}
.uk-card-title{
    font-family: 'Special Elite', cursive;
}
#home{
    font-family: 'Special Elite', cursive;
}
#about{
    font-family: 'Special Elite', cursive;
}
.img{
    position: absolute;
}
#suggestionPage {
    display: none;
}
